body {
   font-family: 'Raleway', sans-serif;
   background-color: #1c1c1c;
}

input{
  background-color: #161616;
  color: #e0e0e0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5%;
  border-bottom: solid #06ce00;
  margin-right: 0.2%;
  margin-left: 0.2%
}

input::placeholder{
  color: #e0e0e0;
}

input:focus{
   background-color: #0f0f0f;
}

input:hover{
  background-color: #0f0f0f;
}

main, footer {
  text-align: center;
  background-image: url(Radicl-website-background.png);
  width: 85%;
  margin: auto;
  color: #e0e0e0;
}

li {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

menu {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

menu a {
   margin-left: 1%;
   margin-right: 4%;
}

li a {
   text-decoration: none;
   margin-left: 1%;
   margin-right: 4%;
   color: #e0e0e0;
   border-bottom: 2px solid #06ce00;
   padding: 20px;
   padding-left: 25px;
   padding-right: 25px;
}

li a:hover {
  border: 1px;
  background-color: #363636;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

li a:hover {
  border-bottom: 2px solid #06ce00;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

a img {
  width: 10%;
  -webkit-transform: -webkit-transform .8s ease-in-out;
          transition:        transform.8s ease-in-out;
}

a img:hover{
  -webkit-transform: rotate(520deg);
         transform: rotate(520deg);
}

menu a img{
  width: 33%;
}

menu a img:hover{
  transform: scale(1.05);
}

p a {
  color: #06ce00;
  text-decoration: underline;
}

select {
  border: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #161616;
  color: white;
  text-align: center;
  border-bottom: none;
  border-top: none;
  border-left: 2%;
  border-left: solid #06ce00;
  border-right: 2%;
  border-right: solid #06ce00;
}

select:hover {
  border: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  border-bottom: none;
  border-top: none;
  border-left: 2%;
  border-left: solid #06ce00;
  border-right: 2%;
  border-right: solid #06ce00;
}

button{
  border: 1px;
  border-radius: 2%;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #06ce00;
  color: white;

}

h1 {
  background-color: #06ce00;
  width: 100%;
}

header {
  bottom: -20%
}

a p:hover {
  text-decoration: underline;
}
